.h1 {
    text-align: center;
    line-height: 1.3;
    margin-top: 20px;
}


.button {
    display: inline-block;
    background-color: #333;
    border: 0;
    padding: 15px 20px;
    text-decoration: none;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 10px;
}

.danger {
    background-color: red;

}